:root {
    --border: rgb(11, 71, 53);
}

body {
    font-family: system-ui, sans-serif;
}

#app {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    max-width: 30rem;
    margin: 0 auto;

    svg {
        grid-column: 1 / -1;
    }
}
